@font-face {
    font-family: 'Custom-Font';
    src: url("../fonts/teddy-bear.ttf");
}

html, body {
    font-size: 16px;
    margin: 0;
    height: 100%;
}
body {
    background: #d3e5f1;

}
header {
    font-size: 1.5rem;
    background: black;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .container input {
    width: 50%;
    -webkit-box-shadow: 1px 1px 5px white;
    -moz-box-shadow: 1px 1px 5px white;
    -ms-box-shadow:  1px 1px 5px white;
    box-shadow: 1px 1px 5px white;
    /*color: cornflowerblue;*/
}
/*header .container input:focus {*/
/*    color: red;*/
/*}*/
/*header .container input::placeholder {*/
/*    color: white;*/
/*    background: black;*/
/*    font-size: 1.3rem;*/
/*}*/

.tiles {
    display: block;
}
.tile {
    min-height: 100px;
    margin: 1rem;
}
header .btn {
    font-size: 1.3rem;
}